[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textual = "*"
icmplib = "*"
aiotinydb = "*"
environs = "*"

[dev-packages]
textual-dev = "*"
pyinstaller = {file = "https://github.com/pyinstaller/pyinstaller/archive/790d43f31cde74f3544ecf59f4c4d2035b2d5317.zip"}

[requires]
python_version = "3.11"
