[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textual = "*"
icmplib = "*"
aiotinydb = "*"
environs = "*"

[dev-packages]
textual-dev = "*"
pyinstaller = "*"

[requires]
python_version = "3.11"
